// rounding the search bar and centering it on the home page
// Center the search button place it beneath the search bar


//Stack the Advanced search pages options vertically and left align them
//Make advanced search button blue with white text

//CSS to match Google Aesthetics


// Links on upper right and make them blue
.navlink{
    position: absolute;
    top: 0;
    right: 0;
}

.navlink:hover{
    text-decoration: underline;

}